
<div class="container-fluid large-margin-top" >
    <div class="mui-panel large-margin-top">
        <form ng-submit="submitForm()" class="mui-form">
                        <legend><i class="fa fa-sign-in" aria-hidden="true"></i> Acceso </legend>
                        <div class="mui-divider"></div>
                        <div class="mui-textfield mui-textfield--float-label">
                             <input ng-model="username" type="text" id="userName1" class="mui-textfield mui-textfield--float-label"/>
                            <label><i class="fa fa-user" aria-hidden="true"></i> Usuario</label>
                          </div>
                        
                        <div class="mui-textfield mui-textfield--float-label">
                            <input ng-model="password" type="password" id="password1" class="mui-textfield mui-textfield--float-label" />
                            <label><i class="fa fa-ellipsis-h" aria-hidden="true"></i> Password</label>
                          </div>
                         

                         <mui-btn size="small" color="primary" style="flat" ng-click="submitForm()">Ingresar <span class="glyphicon glyphicon-chevron-right"></span></mui-btn>
                        
                    </form>
    
    </div>
</div>
    

                    
                    
                    
               