
<div class="container-fluid large-top-margin">
    
    <ol class="breadcrumb">
      <li><a  ng-click="back();">
             <span class="glyphicon glyphicon-chevron-left"></span> </a> 
      </li>
         <li class="active">{{modulo.nombreModulo}}</li>
     
    </ol>
  <div class="row">
       <div class="col-md-4">    
            
                <div class="panel panel-blue ">

                    <div class="panel-heading">
                        <h3 class="panel-title">
                           Ejecuciones
                        </h3>
                      </div>
                                <div class="panel-body list-panel-scrollable">





                                    <span></span>
                                     <div class="list-group" ng-if="ejecuciones.length">
                                      <a class="list-group-item" ng-repeat="ejec in ejecuciones" ng-click="resumeExec(moduleId,ejec.idEjecucion);">

                                           <h4 class="list-group-item-heading">Nro.Formulario: {{ejec.idEjecucion}}</h4>
                                            <p class="list-group-item-text"><i class="fa fa-calendar" aria-hidden="true"></i> {{toDate(ejec.fecha);}}</p>
                                      </a>

                                    </div>




                                     <div ng-if="!ejecuciones.length" class="jumbotron defaul-top-margin">

                                      <p> No tiene formularios pendientes, para iniciar uno nuevo, presione el boton '+'</p>

                                    </div>




                              </div>
                </div>
            
           <mui-btn style="fab" color="primary" ng-click="createNew(moduleId);" class="floating-botom">+</mui-btn>
      </div>
</div>
</div>
 



