
<div class="container-fluid large-top-margin">
  <div class="row">
       <div class="col-md-4">    
                <div class="panel panel-blue defaul-top-margin">

                    <div class="jum"></div>

                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-line-chart" aria-hidden="true"></i> Proyectos
                        </h3>
                      </div>
                    <div class="panel-body">


                         <div class="list-group" ng-if="projects.length">
                          <a ng-click="showModule(project.projectId)" class="list-group-item" ng-repeat="project in projects">

                               <h3 class="list-group-item-heading panel-title">{{project.projectName}}</h3>
                                <p class="list-group-item-text">{{project.projectDescription}}</p>
                          </a>

                        </div>
                          <div ng-if="!projects.length" class="jumbotron defaul-top-margin">

                                                      <p> No tiene proyectos asociados. Contactese con su administrador para iniciar uno nuevo</p>

                          </div>




                  </div>
                </div>
    </div>
</div>
</div>
 



