
 <div class="container-fluid large-top-margin">
  <div class="row">
       <div class="col-md-4"> 
   <ol class="breadcrumb">
      <li><a  ng-click="back();">
              <span class="glyphicon glyphicon-home"></span> </a>  </a> 
      </li>
         <li class="active">{{project.projectName}}</li>
     
    </ol>
<div class="panel panel-blue">
    
    
   
    <div class="panel-heading">
    <h3 class="panel-title">
        <i class="fa fa-tasks"></i>  Modulos  
    </h3>
        
        </div>
    <div class="panel-body">
    
       
         <div class="list-group">
          <a class="list-group-item" ng-repeat="module in modules" ng-click="showModuleHome(module.idModulo);">
             
               <h4 class="list-group-item-heading">{{module.nombreModulo}}</h4>
                <p class="list-group-item-text">Preguntas: {{module.cantPreguntas}}</p>
          </a>
         
        </div>
        
        <div  ng-if="!modules.length" class="jumbotron">
         
          <p> El proyecto no contiene modulos. Para agregarlo, comuniquese con su administrador.</p>
         
        </div>
   
   
   
   
      </div>
    </div>
                </div>
    </div>
</div>
 


