<nav class="navbar navbar-default">
  <div class="container-fluid">
   
     
       <ul class="nav navbar-nav">
        <li >
            
         <a  ng-click="back();">
             <span class="glyphicon glyphicon-chevron-left"></span> Modulos </a> 
    </li>
      </ul>

   
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
       <div class="col-md-2">    
<div class="panel panel-blue">
   
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-list-ol" aria-hidden="true"></i>Ejecuciones
        </h3>
      </div>
    <div class="panel-body">
    
        <button  class="btn-u btn-u-blue" ng-click="createNew(moduleId);" >
            <i class="fa fa-plus" aria-hidden="true"></i>
            Nuevo Formulario
        </button>
        <span></span>
         <div class="list-group">
          <a class="list-group-item" ng-repeat="ejec in ejecuciones" ng-click="resumeExec(moduleId,ejec.idEjecucion);">
             
               <h4 class="list-group-item-heading">Nro.Formulario: {{ejec.idEjecucion}}</h4>
                <p class="list-group-item-text"><i class="fa fa-calendar" aria-hidden="true"></i> {{toDate(ejec.fecha);}}</p>
          </a>
         
        </div>
   
   
   
   
  </div>
</div>
            </div>
</div>
</div>
 



