<nav class="navbar navbar-default">
  <div class="container-fluid">
   
     
       <ul class="nav navbar-nav">
        <li >
            
         <a  ng-click="back();">
             <span class="glyphicon glyphicon-chevron-left"></span> Ejecuciones </a> 
    </li>
      </ul>

   
  </div>
</nav>
<div class="container-fluid">
  
  <div class="row">
       <div class="col-md-2">    
            <div class="panel panel-blue">

                <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text" aria-hidden="true"></i>
                        Formulario 
                    </h3>
                   </div>
                <div class="panel-body">
                    
                    <div ng-show="isEval">
                          <p>{{formulario.evaluacion.contenidoPregunta}}</p>

                        <select class="form-control" required="true" ng-model="idRespuesta" ng-show="!formulario.evaluacion.preguntaAbierta">
                            <option value="{{respuesta.idRespuesta}}" ng-repeat="respuesta in formulario.evaluacion.respuestas">{{respuesta.contenidoRespuesta}}</option>

                        </select>

                       <input type="text" class="form-control" placeholder="Introduzca su respuesta" required="true" ng-model="respuestaAbierta" ng-show="formulario.evaluacion.preguntaAbierta">
                       
                      </div>
                    
                    
                    <div ng-show="!isEval">
                              <p>{{formulario.info}}</p>
                    </div>   
                     <nav aria-label="...">
                      <ul class="pager">
                        <li class="previous" ng-show="formulario.orden>1"> <a ng-click="resumeExecByOrder(formulario.orden-1);"> <i class="fa fa-angle-left" aria-hidden="true"></i> Anterior</a></li>
                        <li class="next" ng-show="!isFinal"><a  ng-click="sendResponse();"  >Siguiente <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        <li class="next"   ng-show="isFinal"><a  ng-click="sendResponse();">Finalizar <i class="fa fa-check" aria-hidden="true"></i></a></li>
                      </ul>
                    </nav>
                     
                   

            </div>
</div>
</div>
 



