<nav class="navbar navbar-default">
  

   
</nav>
<div class="container-fluid">
  <div class="row">
       <div class="col-md-2">    
<div class="panel panel-info">
   
    <div class="panel-heading">
       Proyectos</div>
    <div class="panel-body">
    
       
         <div class="list-group">
          <a ng-click="showModule(project.projectId)" class="list-group-item" ng-repeat="project in projects">
             
               <h4 class="list-group-item-heading">{{project.projectName}}</h4>
                <p class="list-group-item-text">{{project.projectDescription}}</p>
          </a>
         
        </div>
   
   
   
   
  </div>
</div>
            </div>
</div>
</div>
 



